<div class="sample-column card-wrapper">
  <igx-card elevated class="custom-card">
    <igx-card-header>
      <h3 igxCardHeaderTitle class="text-center">Baralhos</h3>
    </igx-card-header>
    <igx-card-content>
      <p *ngIf="baralhos.length === 0" class="text-center custom-text">
        Você ainda não criou nenhum baralho...
      </p>

      <div class="px-4 pt-4" *ngIf="baralhos.length > 0">
        <igx-grid
          width="100%"
          height="500px"
          [primaryKey]="'id'"
          [data]="baralhos"
          [allowFiltering]="true"
          [cellSelection]="'none'"
        >
          <igx-column [editable]="false" [width]="'20%'">
            <ng-template igxCell let-cell="cell" let-val>
              <button
                igxEnd
                igxRipple
                igxButton="icon"
                [igxRippleCentered]="true"
                (click)="visualizarBaralho(cell.row.data.id)"
                [hideDelay]="500"
                [igxTooltipTarget]="tooltipBtnVisualizarBaralho"
              >
                <igx-icon name="see" family="filter-icons"></igx-icon>
              </button>
              <div #tooltipBtnVisualizarBaralho="tooltip" igxTooltip>
                Clique para visualizar o baralho
              </div>
              <button
                igxEnd
                igxRipple
                igxButton="icon"
                [igxRippleCentered]="true"
                (click)="editarBaralho(cell.row.data.id)"
                [hideDelay]="500"
                [igxTooltipTarget]="tooltipBtnEditarBaralho"
              >
                <igx-icon name="edit" family="filter-icons"></igx-icon>
              </button>
              <div #tooltipBtnEditarBaralho="tooltip" igxTooltip>
                Clique para editar o baralho
              </div>
              <button
                igxEnd
                igxRipple
                igxButton="icon"
                [igxRippleCentered]="true"
                (click)="confirmarExclusao(cell.id.rowID)"
                [hideDelay]="500"
                [igxTooltipTarget]="tooltipBtnExcluirBaralho"
              >
                <igx-icon name="delete" family="filter-icons"></igx-icon>
              </button>
              <div #tooltipBtnExcluirBaralho="tooltip" igxTooltip>
                Clique para excluir o baralho
              </div>
            </ng-template>
          </igx-column>
          <igx-column
            header="Nome"
            [sortable]="true"
            [width]="'80%'"
            field="nomeBaralho"
            [dataType]="'string'"
          ></igx-column>
        </igx-grid>
      </div>
    </igx-card-content>
    <igx-card-actions class="flex flex-nowrap flex-row-reverse">
      <button
        igxButton="outlined"
        igxRipple
        routerLink="criar-baralho"
        [hideDelay]="500"
        [igxTooltipTarget]="tooltipBtnCriarBaralho"
      >
        Criar Baralho
      </button>
      <div #tooltipBtnCriarBaralho="tooltip" igxTooltip>
        Clique para ir para tela de criar baralho
      </div>
    </igx-card-actions>
  </igx-card>
</div>

<div>
  <igx-snackbar #snackbar></igx-snackbar>
</div>

<app-loading-component *ngIf="loading"></app-loading-component>

<!-- DIALOGS -->
<!-- DIALOG DELEÇÃO -->
<igx-dialog #dialogDelecao [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <div class="flex">
      <div class="dialog-title">Tem certeza?</div>
    </div>
  </igx-dialog-title>
  <div>A ação não poderá ser desfeita.</div>
  <igx-dialog-actions>
    <button
      igxButton="outlined"
      igxRipple
      (click)="dialogDelecao.close()"
      class="mr-1"
      [hideDelay]="500"
      [igxTooltipTarget]="tooltipBtnCancelarExclusao"
    >
      Não!
    </button>
    <div #tooltipBtnCancelarExclusao="tooltip" igxTooltip>
      Clique para cancelar a exclusão
    </div>
    <button
      igxButton="outlined"
      igxRipple
      (click)="deletarBaralho()"
      [hideDelay]="500"
      [igxTooltipTarget]="tooltipBtnConfirmarExclusao"
    >
      Sim, excluir!
    </button>
    <div #tooltipBtnConfirmarExclusao="tooltip" igxTooltip>
      Clique para confirmar a exclusão
    </div>
  </igx-dialog-actions>
</igx-dialog>
