<div class="my-3">
  <igx-card elevated *ngIf="carta">
    <igx-card-content class="p-0">
      <div class="flex flex-row flex-nowrap">
        <div class="w-1/4 h-auto">
          <img
            [src]="carta.images.large"
            [alt]="carta.name"
            class="w-full h-auto"
          />
        </div>
        <div class="w-3/4 h-auto m-3 flex flex-col flex-nowrap">
          <h2 igxCardHeaderTitle class="text-center">
            {{ carta.name }}
          </h2>
          <div
            *ngIf="carta.supertype == 'Pokémon'"
            class="flex flex-row flex-nowrap text-base mt-3"
          >
            <div class="grid w-full grid-cols-4">
              <p class="text-center m-0 flex flex-col">
                <strong class="font-semibold">Habilidades</strong>
                <span *ngFor="let habilidade of carta.abilities">
                  {{ habilidade.name }}
                </span>
              </p>
              <p class="text-center m-0 flex flex-col">
                <strong class="font-semibold">Ataques</strong>
                <span *ngFor="let ataques of carta.attacks">
                  {{ ataques.name }}
                </span>
              </p>
              <p class="text-center m-0 flex flex-col">
                <strong class="font-semibold">Fraquezas</strong>
                <span *ngFor="let fraquezas of carta.weaknesses">
                  {{ fraquezas.type }}
                </span>
              </p>
              <p class="text-center m-0 flex flex-col">
                <strong class="font-semibold">Resistência</strong>
                <span *ngFor="let resitencia of carta.resistances">
                  {{ resitencia.type }}
                </span>
              </p>
            </div>
          </div>
          <div
            *ngIf="carta.supertype == 'Trainer'"
            class="flex flex-col flex-nowrap text-base mt-3"
          >
            <div class="flex flex-col m-0">
              <div class="font-semibold text-center">Regras</div>
              <div class="my-1 text-justify" *ngFor="let rule of carta.rules">
                {{ rule }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </igx-card-content>
  </igx-card>
</div>
