@import "/src/config-scss/rem-calc.scss";

.modal-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  padding: 20px;
  border-radius: 8px;
  min-width: rem-calc(300);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content {
  max-width: rem-calc(600);
  ::ng-deep .titulo-modal-custom {
    font-size: x-large;
    font-weight: 600;
    margin: 0px !important;
    margin-bottom: rem-calc(20) !important;
  }

  ::ng-deep .conteudo-modal-custom {
    font-weight: 400;
    font-size: large;
    text-align: center;
    margin: 0px !important;
    margin-bottom: rem-calc(30) !important;
    .li-modal-custom {
      word-wrap: break-word;
      margin: rem-calc(15) 0;
    }
  }

  ::ng-deep .image-modal-custom {
    display: flex;
    margin: 0px !important;
    justify-content: center;
    margin-bottom: rem-calc(30) !important;
    .size-image-modal-custom {
      border-radius: rem-calc(10);
      width: 70%;
      height: auto;
    }
  }

  ::ng-deep .funcoes-modal-custom {
    margin: 0px !important;
  }
}
