<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="sample-column card-wrapper">
    <igx-card elevated>
      <igx-card-header>
        <h3 igxCardHeaderTitle class="text-center">Criar Baralho</h3>
      </igx-card-header>
      <igx-card-content>
        <igx-input-group>
          <input
            igxInput
            type="text"
            name="nomeBaralho"
            formControlName="nomeBaralho"
          />
          <label igxLabel for="nomeBaralho">Nome Do Baralho</label>
        </igx-input-group>
        <div
          class="validate-message text-xs"
          *ngIf="
            (this.form.get('nomeBaralho').dirty ||
              this.form.get('nomeBaralho').touched) &&
            this.form.get('nomeBaralho').invalid
          "
        >
          <span>Você precisa informar um nome para o baralho.</span>
        </div>
        <div class="pt-10">
          <h6 class="text-center text-xl font-medium">
            Lista de Cartas Disponíveis
          </h6>

          <div class="px-4 pt-4">
            <igx-grid
              width="100%"
              height="500px"
              [primaryKey]="'id'"
              [data]="pokemonCards"
              [allowFiltering]="true"
              [cellSelection]="'none'"
            >
              <igx-column [editable]="false">
                <ng-template igxCell let-cell="cell" let-val>
                  <button
                    igxEnd
                    igxRipple
                    type="button"
                    igxButton="icon"
                    [igxRippleCentered]="true"
                    (click)="removeCard(cell.row.data)"
                  >
                    <igx-icon name="remove" family="filter-icons"></igx-icon>
                  </button>
                  {{ getQtdCartasBaralho(cell.row.data.name) }}
                  <button
                    igxEnd
                    igxRipple
                    type="button"
                    igxButton="icon"
                    [igxRippleCentered]="true"
                    (click)="addCard(cell.row.data)"
                  >
                    <igx-icon name="add" family="filter-icons"></igx-icon>
                  </button>
                </ng-template>
              </igx-column>
              <igx-column
                field="images"
                header="Imagem"
                [sortable]="true"
                [dataType]="'string'"
              >
                <ng-template igxCell let-cell="cell" let-val>
                  <button
                    class="my-1"
                    type="button"
                    (click)="showCard(cell.row.data.images.large)"
                  >
                    <igx-avatar
                      size="medium"
                      shape="circle"
                      [hideDelay]="500"
                      #target="tooltipTarget"
                      class="avatar avatar-custom"
                      [igxTooltipTarget]="tooltipCarta"
                      [src]="cell.row.data.images.small"
                    >
                    </igx-avatar>
                  </button>
                  <div
                    class="locationTooltip"
                    #tooltipCarta="tooltip"
                    igxTooltip
                  >
                    Clique para visualizar a carta
                  </div>
                </ng-template>
              </igx-column>
              <igx-column
                field="name"
                header="Nome"
                [sortable]="true"
                [dataType]="'string'"
              ></igx-column>
              <igx-column
                field="hp"
                header="HP"
                [dataType]="'string'"
              ></igx-column>
              <igx-column header="Ataques" [dataType]="'string'">
                <ng-template igxCell let-cell="cell" let-val>
                  <i
                    (click)="showAttacks(cell.id)"
                    class="custom-i justify-center text-2xl"
                    >...</i
                  >
                </ng-template>
              </igx-column>
              <igx-column header="Habilidades" [dataType]="'string'">
                <ng-template igxCell let-val let-cell="cell">
                  <i
                    (click)="showAbilities(cell.id)"
                    class="custom-i justify-center text-2xl"
                    >...</i
                  >
                </ng-template>
              </igx-column>
              <igx-column header="Fraquezas" [dataType]="'string'">
                <ng-template igxCell let-cell="cell" let-val>
                  <i
                    (click)="showWeaknesses(cell.id)"
                    class="custom-i justify-center text-2xl"
                    >...</i
                  >
                </ng-template>
              </igx-column>
            </igx-grid>
          </div>
        </div>
        <div class="flex flex-row flex-nowrap justify-between px-4">
          <div class="validate-message text-xs">
            <span
              *ngIf="
                this.pokemonFormArray.dirty && this.pokemonFormArray.invalid
              "
              >Você precisa selecionar entre 24 e 60 cartas para criar um
              baralho.</span
            >
          </div>
          <div class="text-xs">
            <span>Contador de cartas: {{ this.pokemonFormArray.length }}</span>
          </div>
        </div>
      </igx-card-content>
      <igx-card-actions class="flex flex-nowrap flex-row-reverse">
        <button
          igxRipple
          igxStart
          type="button"
          [routerLink]="['']"
          igxButton="outlined"
        >
          Voltar
        </button>
        <button
          igxRipple
          igxStart
          type="submit"
          igxButton="outlined"
          [disabled]="form.invalid"
        >
          Criar Baralho
        </button>
      </igx-card-actions>
    </igx-card>
  </div>
</form>

<div>
  <igx-snackbar #snackbar></igx-snackbar>
</div>

<app-loading-component *ngIf="loading"></app-loading-component>

<!-- DIALOGS -->
<!-- DIALOG ATAQUES -->
<igx-dialog #dialogAtaques [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <div class="flex">
      <div class="dialog-title">Ataques do Pokemón</div>
    </div>
  </igx-dialog-title>
  <div>
    <ul>
      <li *ngFor="let attack of attacks">
        {{ attack.name }}
      </li>
    </ul>
  </div>
  <igx-dialog-actions>
    <button
      igxRipple
      class="mr-1"
      igxButton="outlined"
      (click)="dialogAtaques.close()"
    >
      Fechar
    </button>
  </igx-dialog-actions>
</igx-dialog>

<!-- DIALOG HABILIDADES -->
<igx-dialog #dialogHabilidades [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <div class="flex">
      <div class="dialog-title">Habilidades do Pokemón</div>
    </div>
  </igx-dialog-title>
  <div>
    <ul>
      <li *ngFor="let ability of abilities">
        <div class="font-bold">
          {{ ability.name }}
        </div>
        {{ ability.text }}
      </li>
    </ul>
  </div>
  <igx-dialog-actions>
    <button
      igxRipple
      class="mr-1"
      igxButton="outlined"
      (click)="dialogHabilidades.close()"
    >
      Fechar
    </button>
  </igx-dialog-actions>
</igx-dialog>

<!-- DIALOG FRAQUEZAS -->
<igx-dialog #dialogFraquezas [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <div class="flex">
      <div class="dialog-title">Fraquezas do Pokemón</div>
    </div>
  </igx-dialog-title>
  <div>
    <ul>
      <li *ngFor="let weakness of weaknesses">
        {{ weakness.type }}
      </li>
    </ul>
  </div>
  <igx-dialog-actions>
    <button
      igxRipple
      class="mr-1"
      igxButton="outlined"
      (click)="dialogFraquezas.close()"
    >
      Fechar
    </button>
  </igx-dialog-actions>
</igx-dialog>

<!-- DIALOG CARD -->
<igx-dialog #dialogCard [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <div class="flex">
      <div class="dialog-title">Carta</div>
    </div>
  </igx-dialog-title>
  <div class="flex flex-row justify-center">
    <img
      [src]="srcImageModal"
      class="rounded-lg w-4/6 h-auto"
      alt="Imagem da Carta do Pokemón"
    />
  </div>
  <igx-dialog-actions>
    <button
      igxRipple
      class="mr-1"
      igxButton="outlined"
      (click)="dialogCard.close()"
    >
      Fechar
    </button>
  </igx-dialog-actions>
</igx-dialog>
