<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="sample-column card-wrapper">
    <igx-card elevated>
      <igx-card-header>
        <h3 igxCardHeaderTitle class="text-center">Editar Baralho</h3>
      </igx-card-header>
      <igx-card-content>
        <igx-input-group>
          <input
            igxInput
            type="text"
            name="nomeBaralho"
            formControlName="nomeBaralho"
          />
          <label igxLabel for="nomeBaralho">Nome Do Baralho</label>
        </igx-input-group>
        <div
          *ngIf="
            (this.form.get('nomeBaralho').dirty ||
              this.form.get('nomeBaralho').touched) &&
            this.form.get('nomeBaralho').invalid
          "
        >
          <span class="validate-message text-xs"
            >Você precisa informar um nome para o baralho.</span
          >
        </div>
        <div class="pt-10">
          <h6 class="text-center text-xl font-medium">
            Lista de Cartas Disponíveis
          </h6>

          <div class="px-4 pt-4">
            <igx-grid
              width="100%"
              height="500px"
              [primaryKey]="'id'"
              [data]="setToArray"
              [allowFiltering]="true"
              [cellSelection]="'none'"
              (gridScroll)="gridScroll($event)"
            >
              <igx-column [editable]="false">
                <ng-template igxCell let-cell="cell" let-val>
                  <button
                    igxEnd
                    igxRipple
                    type="button"
                    igxButton="icon"
                    [igxRippleCentered]="true"
                    (click)="removeCard(cell.row.data)"
                    [hideDelay]="500"
                    [igxTooltipTarget]="tooltipRemoverCarta"
                  >
                    <igx-icon name="remove" family="filter-icons"></igx-icon>
                  </button>
                  <div igxTooltip #tooltipRemoverCarta="tooltip">
                    Clique para remover a carta do baralho
                  </div>
                  {{ getQtdCartasBaralhoById(cell.row.data.id) }}
                  <button
                    igxEnd
                    igxRipple
                    type="button"
                    igxButton="icon"
                    [igxRippleCentered]="true"
                    (click)="addCard(cell.row.data)"
                    [hideDelay]="500"
                    [igxTooltipTarget]="tooltipAdicionarCarta"
                  >
                    <igx-icon name="add" family="filter-icons"></igx-icon>
                  </button>
                  <div igxTooltip #tooltipAdicionarCarta="tooltip">
                    Clique para adicionar a carta ao baralho
                  </div>
                </ng-template>
              </igx-column>
              <igx-column field="images" header="Imagem" [dataType]="'string'">
                <ng-template igxCell let-cell="cell" let-val>
                  <button
                    class="my-1"
                    type="button"
                    (click)="showCard(cell.row.data.images.large)"
                  >
                    <igx-avatar
                      size="medium"
                      shape="circle"
                      [hideDelay]="500"
                      #target="tooltipTarget"
                      class="avatar cursor-pointer"
                      [igxTooltipTarget]="tooltipCarta"
                      [src]="cell.row.data.images.small"
                    >
                    </igx-avatar>
                  </button>
                  <div igxTooltip #tooltipCarta="tooltip">
                    Clique para visualizar a carta
                  </div>
                </ng-template>
              </igx-column>
              <igx-column
                field="name"
                header="Nome"
                [sortable]="true"
                [dataType]="'string'"
              ></igx-column>
              <igx-column
                field="hp"
                header="HP"
                [dataType]="'string'"
              ></igx-column>
              <igx-column header="Tipos" [dataType]="'string'">
                <ng-template igxCell let-cell="cell" let-val>
                  <i
                    [hideDelay]="500"
                    [igxTooltipTarget]="tooltipTipos"
                    (click)="showTypes(cell.id)"
                    class="cursor-pointer justify-center text-2xl"
                    >...</i
                  >
                </ng-template>
                <div igxTooltip #tooltipTipos="tooltip">
                  Clique para visualizar os Tipos
                </div>
              </igx-column>
              <igx-column header="Ataques" [dataType]="'string'">
                <ng-template igxCell let-cell="cell" let-val>
                  <i
                    [hideDelay]="500"
                    [igxTooltipTarget]="tooltipAtaques"
                    (click)="showAttacks(cell.id)"
                    class="cursor-pointer justify-center text-2xl"
                    >...</i
                  >
                </ng-template>
                <div igxTooltip #tooltipAtaques="tooltip">
                  Clique para visualizar os Ataques
                </div>
              </igx-column>
              <igx-column header="Habilidades" [dataType]="'string'">
                <ng-template igxCell let-val let-cell="cell">
                  <i
                    [hideDelay]="500"
                    [igxTooltipTarget]="tooltipHabilidades"
                    (click)="showAbilities(cell.id)"
                    class="cursor-pointer justify-center text-2xl"
                    >...</i
                  >
                </ng-template>
                <div igxTooltip #tooltipHabilidades="tooltip">
                  Clique para visualizar as Habilidades
                </div>
              </igx-column>
              <igx-column header="Fraquezas" [dataType]="'string'">
                <ng-template igxCell let-cell="cell" let-val>
                  <i
                    [hideDelay]="500"
                    [igxTooltipTarget]="tooltipFraquezas"
                    (click)="showWeaknesses(cell.id)"
                    class="cursor-pointer justify-center text-2xl"
                    >...</i
                  >
                </ng-template>
                <div igxTooltip #tooltipFraquezas="tooltip">
                  Clique para visualizar as Fraquezas
                </div>
              </igx-column>
            </igx-grid>
          </div>
        </div>
        <div class="flex flex-row flex-nowrap justify-between px-4">
          <div>
            <span
              class="validate-message text-xs"
              *ngIf="
                this.pokemonFormArray.dirty && this.pokemonFormArray.invalid
              "
              >Você precisa selecionar entre 24 e 60 cartas para criar um
              baralho.</span
            >
          </div>
          <div class="text-xs">
            <span>Contador de cartas: {{ this.pokemonFormArray.length }}</span>
          </div>
        </div>
      </igx-card-content>
      <igx-card-actions class="flex flex-nowrap flex-row-reverse">
        <button
          igxRipple
          igxStart
          type="button"
          [routerLink]="['']"
          igxButton="outlined"
          [hideDelay]="500"
          [igxTooltipTarget]="tooltipVoltarTela"
        >
          Voltar
        </button>
        <div igxTooltip #tooltipVoltarTela="tooltip">
          Clique para voltar a tela de listagem de baralhos
        </div>
        <button
          igxRipple
          igxStart
          type="button"
          igxButton="outlined"
          [hideDelay]="500"
          [igxTooltipTarget]="tooltipLimparBaralho"
          (click)="onClickLimparBaralho()"
        >
          Limpar Baralho
        </button>
        <div igxTooltip #tooltipLimparBaralho="tooltip">
          Clique para remover todas as cartas do baralho
        </div>
        <button
          igxRipple
          igxStart
          type="submit"
          igxButton="outlined"
          [disabled]="form.invalid"
          [hideDelay]="500"
          [igxTooltipTarget]="tooltipCriarBaralho"
        >
          Editar Baralho
        </button>
        <div igxTooltip #tooltipCriarBaralho="tooltip">
          Clique para finalizar a edição do baralho
        </div>
      </igx-card-actions>
    </igx-card>
  </div>
</form>

<div>
  <igx-snackbar #snackbar></igx-snackbar>
</div>

<app-loading-component *ngIf="loading"></app-loading-component>

<!-- DIALOGS -->
<!-- DIALOG TIPOS -->
<igx-dialog #dialogTipos [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <div class="flex">
      <div class="dialog-title">Tipos do Pokemón</div>
    </div>
  </igx-dialog-title>
  <div>
    <ul>
      <li *ngFor="let tipo of types">
        {{ tipo }}
      </li>
    </ul>
  </div>
  <igx-dialog-actions>
    <button
      igxRipple
      class="mr-1"
      igxButton="outlined"
      (click)="dialogTipos.close()"
      [hideDelay]="500"
      [igxTooltipTarget]="tooltipFecharDialogo"
    >
      Fechar
    </button>
  </igx-dialog-actions>
</igx-dialog>

<!-- DIALOG ATAQUES -->
<igx-dialog #dialogAtaques [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <div class="flex">
      <div class="dialog-title">Ataques do Pokemón</div>
    </div>
  </igx-dialog-title>
  <div>
    <ul>
      <li *ngFor="let attack of attacks">
        {{ attack.name }}
      </li>
    </ul>
  </div>
  <igx-dialog-actions>
    <button
      igxRipple
      class="mr-1"
      igxButton="outlined"
      (click)="dialogAtaques.close()"
      [hideDelay]="500"
      [igxTooltipTarget]="tooltipFecharDialogo"
    >
      Fechar
    </button>
  </igx-dialog-actions>
</igx-dialog>

<!-- DIALOG HABILIDADES -->
<igx-dialog #dialogHabilidades [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <div class="flex">
      <div class="dialog-title">Habilidades do Pokemón</div>
    </div>
  </igx-dialog-title>
  <div>
    <ul>
      <li *ngFor="let ability of abilities">
        <div class="font-bold">
          {{ ability.name }}
        </div>
        {{ ability.text }}
      </li>
    </ul>
  </div>
  <igx-dialog-actions>
    <button
      igxRipple
      class="mr-1"
      igxButton="outlined"
      (click)="dialogHabilidades.close()"
      [hideDelay]="500"
      [igxTooltipTarget]="tooltipFecharDialogo"
    >
      Fechar
    </button>
  </igx-dialog-actions>
</igx-dialog>

<!-- DIALOG FRAQUEZAS -->
<igx-dialog #dialogFraquezas [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <div class="flex">
      <div class="dialog-title">Fraquezas do Pokemón</div>
    </div>
  </igx-dialog-title>
  <div>
    <ul>
      <li *ngFor="let weakness of weaknesses">
        {{ weakness.type }}
      </li>
    </ul>
  </div>
  <igx-dialog-actions>
    <button
      igxRipple
      class="mr-1"
      igxButton="outlined"
      (click)="dialogFraquezas.close()"
      [hideDelay]="500"
      [igxTooltipTarget]="tooltipFecharDialogo"
    >
      Fechar
    </button>
  </igx-dialog-actions>
</igx-dialog>

<!-- DIALOG CARD -->
<igx-dialog
  #dialogCard
  [closeOnOutsideSelect]="true"
  (closed)="onCloseDialogCard()"
>
  <igx-dialog-title>
    <div class="flex">
      <div class="dialog-title">Carta</div>
    </div>
  </igx-dialog-title>
  <div class="flex flex-row justify-center">
    <img
      [src]="srcImageModal"
      class="rounded-lg w-4/6 h-auto"
      alt="Imagem da Carta do Pokemón"
    />
  </div>
  <igx-dialog-actions>
    <button
      igxRipple
      class="mr-1"
      igxButton="outlined"
      (click)="dialogCard.close()"
      [hideDelay]="500"
      [igxTooltipTarget]="tooltipFecharDialogo"
    >
      Fechar
    </button>
  </igx-dialog-actions>
</igx-dialog>

<!-- DIALOG LIMPAR -->
<igx-dialog #dialogLimpar [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <div class="flex">
      <div class="dialog-title">Tem certeza?</div>
    </div>
  </igx-dialog-title>
  <div>A ação não poderá ser desfeita.</div>
  <igx-dialog-actions>
    <button
      igxButton="outlined"
      igxRipple
      (click)="dialogLimpar.close()"
      class="mr-1"
      [hideDelay]="500"
      [igxTooltipTarget]="tooltipBtnCancelarExclusao"
    >
      Não!
    </button>
    <div #tooltipBtnCancelarExclusao="tooltip" igxTooltip>
      Clique para cancelar a exclusão
    </div>
    <button
      igxButton="outlined"
      igxRipple
      (click)="limparBaralho()"
      [hideDelay]="500"
      [igxTooltipTarget]="tooltipBtnConfirmarExclusao"
    >
      Sim, limpar!
    </button>
    <div #tooltipBtnConfirmarExclusao="tooltip" igxTooltip>
      Clique para confirmar a ação
    </div>
  </igx-dialog-actions>
</igx-dialog>

<div igxTooltip #tooltipFecharDialogo="tooltip">
  Clique para fechar esta janela
</div>
